Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4

BreakBeforeBraces: Stroustrup




FixNamespaceComments: true
IndentCaseLabels: true
NamespaceIndentation: All

BreakConstructorInitializersBeforeComma: true

AllowShortFunctionsOnASingleLine: None

ColumnLimit: 90

AlwaysBreakTemplateDeclarations: true

PointerAlignment: Left
