#
#   Common
#

.vscode
tags

*.temp

open-builder/
OpenBuilder/
*.zip

texture_packs/ElijahHyper

*.srctrlprj
*.srctrldb
*.srctrlbm


#
#   Linux
#

build/
bin/
custom_run.sh
zcustom_run.sh
ybuild.sh

#
#   Windows
#

*.dll
CMakeFiles/
CMakeCache.txt
*.exe

# Visual Studio
*.sln
*.vcxproj
*.filters
*.user
*.vs

Debug/
Release/
UnitTests/
open-builder-unit-tests/

# Experimental 

experimental/
