#
#   Common
#

.vscode

*.temp

open-builder/

*.srctrlprj
*.srctrldb
*.srctrlbm

#
#   Linux
#

bin/

#
#   Windows
#

*.dll
CMakeFiles/
CMakeCache.txt
*.exe

# Visual Studio
*.sln
*.vcxproj
*.filters
*.user
*.vs

Debug/
Release/
open-builder-unit-tests/

